<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
    <style>
        div {
    background-color:rgba(102,178,255, 0.7);
    width: fit-content;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
    </style>
</head>
<body>
<div>
    <h1>Welcome!</h1>
    <a th:href="@{/login}" class="button button1" style="height: 40px;">Вход</a>
    <a th:href="@{/register}" class="button button1" style="height: 40px;">Регистрация</a>
    <br><br>
</div>
</body>
</html>